<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment-form :: head}"></head>
<body>

<div th:replace="~{fragment-dashboard :: top-header}"></div>

<div th:replace="~{fragment-dashboard :: left-nav}"></div>
<div class="mobile-menu-overlay"></div>

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4 th:text="${title}"></h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Admin</a></li>
                                <li class="breadcrumb-item"><a href="#">Bank</a></li>
                                <li class="breadcrumb-item active" aria-current="page">[[${title}]]</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-md-6 col-sm-12 text-right">
                        <div class="dropdown">

                        </div>
                    </div>
                </div>
            </div>

            <!-- Form grid Start -->
            <div class="pd-20 card-box mb-30">
                <div th:replace="~{fragment-table :: alert}"></div>
                <form method="post" th:action="@{/admin/bank/save}" th:object="${bankModel}">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <label>Name <b style="color: red">*</b></label>
                                <input type="text" class="form-control" th:field="*{name}" required>
                                <input type="hidden" th:field="*{bankId}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="btn-list">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <!-- Form grid End -->

        </div>
        <div th:replace="~{fragment-dashboard :: footer}"></div>
    </div>
</div>
<div th:replace="~{fragment-form :: script}"></div>
</body>
</html>