<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
  <!-- Basic Page Info -->
  <meta charset="utf-8">
  <title>Hrms - [[${title}]]</title>

  <!-- Site favicon -->
  <link rel="apple-touch-icon" sizes="180x180" th:href="@{/vendors/images/apple-touch-icon.png}">
  <link rel="icon" type="image/png" sizes="32x32" th:href="@{/vendors/images/favicon-32x32.png}">
  <link rel="icon" type="image/png" sizes="16x16" th:href="@{/vendors/images/favicon-16x16.png}">

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" th:href="@{/vendors/styles/core.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/vendors/styles/icon-font.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/src/plugins/datatables/css/dataTables.bootstrap4.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/src/plugins/datatables/css/responsive.bootstrap4.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/vendors/styles/style.css}">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-119386393-1');
  </script>
</head>
<body>
<div class="pd-20" th:fragment="alert">
  <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${success}">
    <strong><i class="icon-copy fa fa-check" aria-hidden="true"></i></strong> <strong th:text="${success}"></strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${error}">
    <strong><i class="icon-copy fa fa-warning" aria-hidden="true"></i></strong> <strong th:text="${error}"></strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
<div th:fragment="script">
  <!-- js -->
  <script th:src="@{/vendors/scripts/jquery-3.7.0.min.js}"></script>
  <script th:src="@{/vendors/scripts/core.js}"></script>
  <script th:src="@{/vendors/scripts/script.min.js}"></script>
  <script th:src="@{/vendors/scripts/process.js}"></script>
  <script th:src="@{/vendors/scripts/layout-settings.js}"></script>
  <script th:src="@{/src/plugins/datatables/js/jquery.dataTables.min.js}"></script>
  <script th:src="@{/src/plugins/datatables/js/dataTables.bootstrap4.min.js}"></script>
  <script th:src="@{/src/plugins/datatables/js/dataTables.responsive.min.js}"></script>
  <script th:src="@{/src/plugins/datatables/js/responsive.bootstrap4.min.js}"></script>
  <!-- buttons for Export datatable -->
  <script th:src="@{/src/plugins/datatables/js/dataTables.buttons.min.js}"></script>
  <script th:src="@{/src/plugins/datatables/js/buttons.bootstrap4.min.js}"></script>
  <script th:src="@{/src/plugins/datatables/js/buttons.print.min.js}"></script>
  <script th:src="@{/src/plugins/datatables/js/buttons.html5.min.js}"></script>
  <script th:src="@{/src/plugins/datatables/js/buttons.flash.min.js}"></script>
  <script th:src="@{/src/plugins/datatables/js/pdfmake.min.js}"></script>
  <script th:src="@{/src/plugins/datatables/js/vfs_fonts.js}"></script>
  <!-- Datatable Setting js -->
  <script th:src="@{/vendors/scripts/datatable-setting.js}"></script>
</div>
</body>
</html>