<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment-form :: head}"></head>
<body>

<div th:replace="~{fragment-dashboard :: top-header}"></div>

<div th:replace="~{fragment-dashboard :: left-nav}"></div>
<div class="mobile-menu-overlay"></div>

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-10 col-sm-12">
                        <div class="title">
                            <h4 th:text="${title}"></h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Admin</a></li>
                                <li class="breadcrumb-item"><a th:href="@{/admin/user/all}">All Users</a></li>
                                <li class="breadcrumb-item"><a th:href="@{/admin/user/role(id=${user.userId})}">All User Roles</a></li>
                                <li class="breadcrumb-item active" aria-current="page">[[${title}]]</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-md-2 col-sm-12 text-right">
                        <div class="dropdown">

                        </div>
                    </div>
                </div>
            </div>

            <!-- Form grid Start -->
            <div class="pd-20 card-box mb-30">
                <div th:replace="~{fragment-table :: alert}"></div>
                <form method="post" th:action="@{/admin/user/role/save}" th:object="${addUserRoleModel}">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <label>Employee <b style="color: red">*</b></label>
                                <input type="text" class="form-control" th:field="*{userName}"  required readonly="readonly">
                                <input type="hidden" th:field="*{userId}">
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <label>Role <b style="color: red">*</b></label>
                                <select class="custom-select2 form-control" th:field="*{roles}" multiple="multiple" style="width: 100%;">
                                    <option th:selected th:each="role : ${user.roles}" th:value="${role.roleId}">[[${role.code}]]</option>
                                    <option th:each="role : ${options}" th:value="${role.roleId}" >[[${role.code}]]</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="btn-list">
                                <button type="submit" class="btn btn-primary">Save</button>
                                <a th:href="@{/admin/user/role(id=${user.userId})}" class="btn btn-secondary">Go Back</a>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <!-- Form grid End -->

        </div>
        <div th:replace="~{fragment-dashboard :: footer}"></div>
    </div>
</div>
<div th:replace="~{fragment-form :: script}"></div>
</body>
</html>